@model System.Collections.Generic.IEnumerable<DotBlog.Core.Objects.ListType>

@{
    ViewBag.Title = "title";
   // Layout = "_Layout";
}

<h2>title</h2>


<table>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td> @Html.ActionLink("Edit", "Edit", new {id = item.Id}) </td>
            <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </td>
        </tr>
    }
</table>


@Html.ActionLink("Create", "Create")

